html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
    height: 100%;
}

body{
    min-height: 100%;
    background: #F4F4F4;
    background: -moz-linear-gradient(top, #F4F4F4 0%, #B0C0D3 50%, #99ADBC 100%);
    background: -webkit-linear-gradient(top, #F4F4F4 0%, #B0C0D3 50%, #99ADBC 100%);
    background: linear-gradient(to bottom, #F4F4F4 0%, #B0C0D3 50%, #99ADBC 100%);
    background-attachment: fixed; 

    display: flex;
    flex-direction: column;
    padding: 0.3em;

    transition: all 0.3s;

    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#name {
    font-size: 40px;
    text-decoration: underline;
}

h1{
    text-align: center;
}

div h2, img, p{
    text-align: center;
}

div img{
    float: left;
}

.profile p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img.icon{
    border-radius: 300px;
    margin: 2em;
}

img.icon:hover{
    border:2px solid purple;
    width: "46px"; 
    height: "46px";
}

a:visited {
    color:rgb(0, 92, 128);
}

a:hover {
    color: purple;
}

.project-list {
    margin-top: 0.3em;
}

.project-list .project-item{
    padding: 2.0em;
}

.project-list .project-item img:hover {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}

.project-list .project-item dd{
    display: flex;
    margin-left: 7em;
    margin-top: 1.5em;
}

/* code from Kevin Miranda on freefrontend.com*/

.icon-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
  
.icon {
    width: 100px;
    height: 100px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-left: 1em;
    margin-right: 1em;  
    cursor: pointer;
    transition: all 0.3s;
  
    &.git {
      -webkit-box-shadow: 0px 20px 20px -17px rgba(6, 9, 14, 0.65);
      -moz-box-shadow: 0px 20px 20px -17px rgba(6, 9, 14, 0.65);
      box-shadow: 0px 20px 20px -17px rgba(6, 9, 14, 0.65);
  
      &:hover {
        -webkit-box-shadow: 0px 20px 35px -16px rgba(6, 9, 14, 0.65);
        -moz-box-shadow: 0px 20px 35px -16px rgba(6, 9, 14, 0.65);
        box-shadow: 0px 20px 35px -16px rgba(6, 9, 14, 0.65);    
      }
  
      .content {
        font-size: 4em;
        font-family: "Roboto", sans-serif;
        background: linear-gradient(to right, #393c41, #0f1315 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 10px 37px rgba(21, 24, 29, 0.8);
      }
    }
  
    &.linkedin {
      -webkit-box-shadow: 0px 20px 20px -17px rgba(16, 112, 255, 0.65);
      -moz-box-shadow: 0px 20px 20px -17px rgba(16, 112, 255, 0.65);
      box-shadow: 0px 20px 20px -17px rgba(16, 112, 255, 0.65);
  
      &:hover {
        -webkit-box-shadow: 0px 20px 35px -16px rgba(16, 112, 255, 0.65);
        -moz-box-shadow: 0px 20px 35px -16px rgba(16, 112, 255, 0.65);
        box-shadow: 0px 20px 35px -16px rgba(16, 112, 255, 0.65);    
      }
  
      .content {
        font-size: 4em;
        font-family: "Roboto", sans-serif;
        background: linear-gradient(to right, #106cff85, #0659ff54 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 10px 37px rgba(16, 112, 255, 0.445);
      }
    }
  
    &.facebook {
      -webkit-box-shadow: 0px 20px 20px -17px rgba(16, 171, 255, 0.65);
      -moz-box-shadow: 0px 20px 20px -17px rgba(16, 171, 255, 0.65);
      box-shadow: 0px 20px 20px -17px rrgba(16, 171, 255, 0.65);
  
      &:hover {
        -webkit-box-shadow: 0px 20px 35px -16px rgba(16, 171, 255, 0.65);
        -moz-box-shadow: 0px 20px 35px -16px rgba(16, 171, 255, 0.65);
        box-shadow: 0px 20px 35px -16px rgba(16, 171, 255, 0.65);
      }
  
      .content {
        font-size: 4em;
        font-family: "Roboto", sans-serif;
        background: linear-gradient(to right, #0099ff, #0763f7a0 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 10px 37px rgba(7, 121, 183, 0.65);
      }
    }
  
    &:hover {
      background-color: darken(#fafafa, 2%);    
      transform: translateY(-5px);
      transition: all 0.3s;
    }
}

#busicard {
  border-radius: 6px;
  border: 1px solid black;
}