/* code from Kevin Miranda on freefrontend.com*/
.icon {
    width: 100px;
    height: 100px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-left: 1em;
    margin-right: 1em;  
    cursor: pointer;
    transition: all 0.3s;
  
    &.git {
      -webkit-box-shadow: 0px 20px 20px -17px rgba(6, 9, 14, 0.65);
      -moz-box-shadow: 0px 20px 20px -17px rgba(6, 9, 14, 0.65);
      box-shadow: 0px 20px 20px -17px rgba(6, 9, 14, 0.65);
  
      &:hover {
        -webkit-box-shadow: 0px 20px 35px -16px rgba(6, 9, 14, 0.65);
        -moz-box-shadow: 0px 20px 35px -16px rgba(6, 9, 14, 0.65);
        box-shadow: 0px 20px 35px -16px rgba(6, 9, 14, 0.65);    
      }
  
      .content {
        font-size: 4em;
        font-family: "Roboto", sans-serif;
        background: linear-gradient(to right, #393c41, #0f1315 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 10px 37px rgba(21, 24, 29, 0.8);
      }
    }
  
    &.linkedin {
      -webkit-box-shadow: 0px 20px 20px -17px rgba(16, 112, 255, 0.65);
      -moz-box-shadow: 0px 20px 20px -17px rgba(16, 112, 255, 0.65);
      box-shadow: 0px 20px 20px -17px rgba(16, 112, 255, 0.65);
  
      &:hover {
        -webkit-box-shadow: 0px 20px 35px -16px rgba(16, 112, 255, 0.65);
        -moz-box-shadow: 0px 20px 35px -16px rgba(16, 112, 255, 0.65);
        box-shadow: 0px 20px 35px -16px rgba(16, 112, 255, 0.65);    
      }
  
      .content {
        font-size: 4em;
        font-family: "Roboto", sans-serif;
        background: linear-gradient(to right, #106cff85, #0659ff54 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 10px 37px rgba(16, 112, 255, 0.445);
      }
    }
  
    &.facebook {
      -webkit-box-shadow: 0px 20px 20px -17px rgba(16, 171, 255, 0.65);
      -moz-box-shadow: 0px 20px 20px -17px rgba(16, 171, 255, 0.65);
      box-shadow: 0px 20px 20px -17px rrgba(16, 171, 255, 0.65);
  
      &:hover {
        -webkit-box-shadow: 0px 20px 35px -16px rgba(16, 171, 255, 0.65);
        -moz-box-shadow: 0px 20px 35px -16px rgba(16, 171, 255, 0.65);
        box-shadow: 0px 20px 35px -16px rgba(16, 171, 255, 0.65);
      }
  
      .content {
        font-size: 4em;
        font-family: "Roboto", sans-serif;
        background: linear-gradient(to right, #0099ff, #0763f7a0 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 10px 37px rgba(7, 121, 183, 0.65);
      }
    }
  
    &:hover {
      background-color: darken(#fafafa, 2%);    
      transform: translateY(-5px);
      transition: all 0.3s;
    }
}